black = #000
white = #fff
primary = #3C66FF
pink = #E33BB4
green = #00A830

dark-bg0 = #030303
dark-bg1 = #121212

sharebtnhover = #202020

text-title-color = #000000D9
text-paragraph-color = #000000AB
text-description-color = #00000073

